<div class="search" >
  <%= form_tag(new_searches_path, :method => "get")  do %>
    <%= text_field_tag :search , nil, placeholder: @search_text%>
  <% end %>
</div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
  	  <img src= <%= @welcome_image %> alt="" class="pixastic pixastic-blur(amount=0.1)">
    </div>
    <% @images.each_with_index do |image, index| %>
      <div class="item">
  	    <img src= <%= image.sub("public","") %> alt="" class="pixastic pixastic-blur(amount=0.5)">
  	    <p class="inspira well transbox" style="top: <%=rand(0 .. 70)%>%; right: <%=rand(0 .. 70)%>%;"> <%= @inspiras[index].message%></p>
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>